#container {
  background-color: bisque;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 10px;
  
}
#pageHead {
  font-size: 2em;
  text-align: center;
  color: crimson;
}

h1 {
  color: darkblue;
}

h2 {
  color: black;
}

#quiz{
  width: 400px;
  height: 450px;
  box-shadow: 10px 10px 10px grey;
  border: 1px, solid, black;
  background-color: darkslategray;
  padding-left: 10px;
  color: whitesmoke;
  margin-bottom: 10px;
}

footer{
  text-align: center;

}
